* {
  box-sizing: border-box;
}
header {
  overflow: hidden;
}
.splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("C://Users/bewee/OneDrive/Documents/Github/Restaurant-Demo/image3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.menubtn {
  text-align: center;
  background-color: white;
  color: black;
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  font-size: 18px;
  border-width: 2px;
  cursor: pointer;

}

.resbtn {
  background-color: white;
  color: black;
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  border-width: 2px;
  cursor: pointer;

}

.specbtn {
  background-color: white;
  color: black;
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  font-size: 18px;
  border-width: 2px;
  cursor: pointer;


}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



.reservations {
  float: right;
  position: relative;
  display: inline-block;

}


.shadowbox {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 300px;
  height: 100vh;
  margin-left: 100px;


}

.boxtext1 {
padding-top: 100px;
position: relative;
text-align: center;
color: white;
font-size: 25px;
}

.boxtext2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;

}

hr {
  width: 200px;
}

.res {
  font-style: italic;
  font-size: 25px;
}
