header {
height: 200px;

}
.splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("C://Users/bewee/OneDrive/Documents/Github/Restaurant-Demo/image3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.kisico {
  height: 155px;
  width: 155px;
  padding-bottom: 0px;
  margin-bottom: -72px;
  padding-top: 30px;
  margin-left: 500px;
  display: inline-block
  position: relative;
}

.shadowimage {
  margin-top: 50px;
 height: 300px;

}
.menubtn {
  background-color: white;
  color: black;
  padding-top: 65px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 65px;
  font-size: 18px;
  border-width: 4px;
  border-style: double;
  border-color: grey;
  cursor: pointer;
  transition: background-color 1.5s;
  margin-bottom: 2px;

}

.resbtn {
  background-color: white;
  color: black;
  padding-top: 65px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 65px;
  font-size: 18px;
  margin-left: 269px;
  border-width: 4px;
  border-style: double;
  border-color: grey;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: background-color 1.5s;
}



.specbtn {
  background-color: white;
  color: black;
  padding-top: 65px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 65px;
  font-size: 18px;
  border-width: 4px;
  border-color: grey;
  border-style: double;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: -10px;
  transition: background-color 1.5s;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 190px;
  padding-right: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: lightblue;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .menubtn {background-color: lightblue;}

.dropdown:hover .resbtn {background-color: lightblue;}

.dropdown:hover .specbtn {background-color: lightblue;}


.reservations {
  float: right;
  position: relative;
  display: inline-block;

}


.shadowbox {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 300px;
  height: 100vh;
  margin-left: 100px;


}

.boxtext1 {
padding-top: 100px;
position: relative;
text-align: center;
color: white;
font-size: 25px;
}

.boxtext2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;

}

hr {
  width: 200px;
  margin-left: 40px;
}

.res {
  font-style: italic;
  font-size: 25px;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    background-color: #ffffff;
    width: 450px;
    padding: 10px 30px;
    padding-bottom: 60px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 85%;
    top: 50%;
    border: 10px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}



.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: grey;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}
input[type=email] {
    padding: 14px 10px 9px 10px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 0;
    display: inline-block;
}

input[type=email]:focus {
    border-color:#333;
}
input[type=submit] {
    padding:10px 20px;
    margin-left: -5px;
    background:darkgreen;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 0px;
    color: white;
    font-size: 20px
    }

  .bodypage {

background-color: black;
  }
