* {
  box-sizing: border-box;
}
header {
  overflow: hidden;
}
.splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("C://Users/bewee/OneDrive/Documents/Github/Restaurant-Demo/image3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.menubtn {
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  font-size: 18px;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;


}

.resbtn {
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  font-size: 18px;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;


}



.specbtn {
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  font-size: 18px;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;


}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



.reservations {
  float: right;
  position: relative;
  display: inline-block;

}


.shadowbox {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 300px;
  height: 100vh;
  margin-left: 100px;


}

.boxtext1 {
padding-top: 100px;
position: relative;
text-align: center;
color: white;
font-size: 25px;
}

.boxtext2 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;

}

hr {
  width: 200px;
  display: inline-block;
}

.res {
  font-style: italic;
  font-size: 25px;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    background-color: #ffffff;
    width: 450px;
    padding: 10px 30px;
    padding-bottom: 60px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 85%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}
